// HEADING
.heading {
  position: relative;
  height: 100vh;
  padding: 0 4rem;
  display: flex;
  text-transform: uppercase;
  flex-direction: column;
  justify-content: center;

  &__title {
    &:nth-child(1) {
      padding-left: 32rem;
    }
    &:nth-child(4) {
      padding-left: 48rem;
    }
    &:nth-child(5) {
      padding-left: 12rem;
    }
  }
}
// EXHIBIT
.exhibit {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;

  &__container {
    width: 100%;
    height: inherit;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 20;

    &:nth-child(1) {
      z-index: 4;
    }
    &:nth-child(2) {
      z-index: 3;
    }
    &:nth-child(3) {
      z-index: 2;
    }
    &:nth-child(4) {
      z-index: 1;
    }

    &:nth-child(4) {
      .exhibit__heading-title,
      .exhibit__heading-terms,
      .exhibit__heading-subtitle {
        mix-blend-mode: difference;
        color: white;
      }
    }
  }

  &__heading {
    position: absolute;
    left: 2rem;
    top: 4rem;
    z-index: 10;
    overflow: hidden;
  }

  &__heading-title,
  &__heading-terms,
  &__heading-subtitle {
    overflow: hidden;
    margin-bottom: 0.1rem;
  }

  &__heading-title {
    overflow: hidden;
    text-transform: uppercase;
    color: $color-primary !important;
  }

  &__heading-terms {
    margin-top: -1.5rem;
  }

  &__heading-subtitle {
    margin-top: -1rem;
  }

  &__heading-terms > span,
  &__heading-subtitle > span {
    overflow: hidden;
    text-transform: lowercase;
  }

  &__heading-terms > span {
    font-size: $font-size-base;
    color: white;
  }
  &__heading-subtitle > span {
    font-size: $font-size-small;
    color: $color-secondary !important;
  }

  // EXHIBIT BG
  &__highlight {
    position: absolute;
    width: 100%;
    height: 100vh;

    figure {
      position: relative;
      width: inherit;
      height: inherit;
      overflow: hidden;
    }

    img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  // EXHIBIT THUMBNAILS

  &__thumbnail {
    position: absolute;
    top: 0;
    right: 4rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    z-index: 10;

    img {
      position: relative;
      width: 20rem;
      height: 20rem;
      object-fit: cover;
    }
  }

  // EXHIBIT ENDING

  &__ending {
    position: relative;
    width: 100%;
    height: 100vh;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__ending-title {
    overflow: hidden;
  }
}
