/* 
1 rem = 1em = 16px 
px/16px = em
*/

// MOBILE
$breakpoint-xs: 20em; //320(max)-480px
$breakpoint-sm: 37.5em; //600px
// TABLETS
$breakpoint-tablet-sm: 48em; //768px
/*-----------------------------*/
// L TABLET - S DESK
$breakpoint-td: 64em; //1024px
// MD DESK (1025-1280)
$breakpoint-md: 80em;
// L DESK (1281-1440)
$breakpoint-lg: 90em;
// XL SCREENS (1441+)
$breakpoint-xl: 112.5em; //1800px

// BREAKPOINTS MAP
$breakpoints: (
  xs: $breakpoint-xs,
  sm: $breakpoint-sm,
  tsm: $breakpoint-tablet-sm,
  td: $breakpoint-td,
  md: $breakpoint-md,
  lg: $breakpoint-lg,
  xl: $breakpoint-xl
);
