$color-primary: #3b82f6;
$color-primary-light: #60a5fa;
$color-primary-lighter: #93c5fd;
$color-primary-lightest: #bfdbfe;
$color-primary-dark: #2563eb;
$color-primary-dark-1: #1d4ed8;
$color-primary-darker: #1e40af;
$color-primary-darkest: #172554;

$color-secondary: #fbbf24;
$color-secondary-light: #fcd34d;
$color-secondary-lighter: #fde68a;
$color-secondary-lightest: #fef3c7;
$color-secondary-dark: #f59e0b;
$color-secondary-darker: #d97706;
$color-secondary-darkest: #b45309;

$sky-blue: #0ea5e9;
$sky-blue-light: #67e8f9;
$sky-blue-lightest: #cffafe;
$sky-blue-dark: #0369a1;
$sky-blue-darkest: #082f49;

$color-gray: #6b7280;
$color-gray-light: #9ca3af;
$color-gray-lighter: #d1d5db;
$color-gray-dark: #4b5563;
$color-gray-darker: #374151;
$color-gray-darkest: #1f2937;

$color-white: #fafafa;
$color-white-pure: #ffffff;
$color-white-variant-1: #f8fafc;
$color-white-variant-2: #f1f5f9;

$color-pink: #ec4899;
$color-pink-light: #fda4af;
$color-pink-lightest: #fbcfe8;
$color-pink-dark: #be185d;

// TECH COLOR PALETTES
$vue-color: #42b883;
$nuxt-color: #00dc82;
$laravel-color: #f55247;
$inertia-color: #7c69ec;
$vite-color: #9d5cfb;
$sass-color: #cd6799;
$tailwind-color: #38bdf8;
$bootstrap-color: #7e12f9;
$javascript-color: #f0db4f;
$html-color: #f06529;
$css-color: #2965f1;
$mysql-color: #00758f;
$java-color: #f89820;
$php-color: #777bb3;
$firebase-color: #dd2c00;
$node-color: #3c873a;
$canva-color: #00c4cc;
$git-color: #f1502f;
$vs-color: #0078d7;
