$font-size-smallest: 0.8rem; /* 8px */
$font-size-smaller: 1rem; /* 10px */
$font-size-small: 1.2rem; /* 12px */
$font-size-base: 1.6rem; /* 16px */
$font-size-base-1: 2.4rem; /* 24px */
$font-size-base-2: 3.4rem;
$font-size-large: 4.4rem;
$font-size-larger: 5rem;
$font-size-largest: 8rem;
