.grid-1 {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: 10rem 10rem 10rem 10rem 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 1rem;
  row-gap: 1rem;
  padding-left: 2rem;
}

.grid-2 {
  display: grid;
  grid-column: full-start / full-end;
  grid-template-columns: repeat(13, 1fr);
}
