@import 'base/base';
@import 'base/fonts';
@import 'utils/breakpoints';
@import 'utils/mixins';
@import 'utils/variables';
@import 'utils/colors';
@import 'utils/keyframes';
// @import 'utils/snap';
@import 'themes/dark';
@import 'themes/light';
@import 'components/buttons';
@import 'components/lines';
@import 'components/preloader';
@import 'layout/grid-layout';
@import 'pages/sections/photo-exhibit';
@import 'vendors/lenis';

#app {
  margin: 0 auto;
  // padding: 2rem;
  font-weight: 500;
  max-width: 100vw;
}
