@media (prefers-color-scheme: dark) {
  .dark {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);
  }
}

[color-scheme='dark-mode'] {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  label,
  input,
  textarea {
    color: $color-white;
  }

  --color-background: var(--vt-c-black);

  --color-border: var(--vt-c-divider-dark-2);
  --color-border-hover: var(--vt-c-divider-dark-1);

  --color-heading: var(--vt-c-text-dark-1);
  --color-text: var(--vt-c-text-dark-2);
}
